/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url(https://weloveiconfonts.com/api/?family=fontawesome);
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
#root {
  width: 100%;
  height: 100%;
}

#root .CalendarPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f9f9f9;
  color: #0e171c;
  font: 300 100%/1.5em 'Lato', sans-serif;
  margin: 0;
  min-height: 100vh;
}

#root .CalendarPage .ActualCalendarcontainer {
 
  width: 500px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-around;
}
#root .CalendarPage .ActualCalendarcontainer h1{
    font-size: 24px;
    color:#353535;
}

#root .CalendarPage .InformationContainer {

  width: 500px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          /* display: none; */
  padding: 2%;
}

#root .CalendarPage .InformationContainer .Wrapper {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .CalendarPage .InformationContainer .Wrapper .Thumbail {
  width: 300px;
  height:200px;
  -o-object-fit: contain;
     object-fit: contain;
}

#root .CalendarPage .InformationContainer .Wrapper .SwitchLeft, #root .CalendarPage .InformationContainer .Wrapper .SwitchRight {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

#root .CalendarPage .InformationContainer .Wrapper .SwitchLeft:hover, #root .CalendarPage .InformationContainer .Wrapper .SwitchRight:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#root .CalendarPage .InformationContainer .Wrapper .SwitchRight {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#root .CalendarPage .InformationContainer .Wrapper .SwitchRight:hover {
  -webkit-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotate(180deg);
}
#root .CalendarPage .InformationContainer h2{
  font-size: 20px;
  font-family: 'Roboto Condensed';
}
#root .CalendarPage .InformationContainer .Description {
  width: 90%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
/*# sourceMappingURL=calendar.css.map */
#root .CalendarPage header {
  width: 100%;
  height: 7vh;
  position: absolute;
  top: 0;
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

#root .CalendarPage header .Links {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .CalendarPage header .Links .Link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: 'Roboto Condensed';
}

#root .CalendarPage header .Links .Link::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  border-bottom: 1px solid white;
}

#root .CalendarPage header .Links .Link:hover:after {
  -webkit-animation: animateBorder 0.2s linear forwards;
          animation: animateBorder 0.2s linear forwards;
}

@-webkit-keyframes animateBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animateBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#root .CalendarPage header .ProfileLinks {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .CalendarPage header .ProfileLinks .WrapperDiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .CalendarPage header .ProfileLinks .WrapperDiv img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#root .CalendarPage header .ProfileLinks .WrapperDiv img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#root .CalendarPage  .UpdateContainer{
  width: 500px;
  height: 600px;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          /* display: none; */
}

#root .CalendarPage  .UpdateContainer #Description {
  height: 150px;
  width:95%;
  resize: none;
  padding: 1%;
  margin-bottom: 5px;
}

#root .CalendarPage  .UpdateContainer .Post_Task_Button {
  width: 100px;
  height: 30px;

}



#root .CalendarPage  .UpdateContainer .ThumbnailUploader {
  width: fit-content;
  height: fit-content;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .CalendarPage  .UpdateContainer .ThumbnailUploader img {
  width: 350px;
  height:300px;
  -o-object-fit: contain;
     object-fit: contain;
}

#root .CalendarPage  .UpdateContainer .UploadThumbnailBtn,#root .CalendarPage  .UpdateContainer .SaveInformationButton{
  width: 200px;
  height: 40px;
  border: 1px solid #353535;
  background: white;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#root .CalendarPage  .UpdateContainer .UploadThumbnailBtn:hover,#root .CalendarPage  .UpdateContainer .SaveInformationButton:hover{
  background: black;
  border: 1px solid white;
  color: white;
}












.react-calendar {
  width: 600px;
  padding: 20px;
  max-width: 100%;
  background: white;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  padding: 2%;
  /* margin: 1%; */
  border: 0;
  height:60px;
  width:30px;
  outline: none;
  font-size:30px ;
  border-radius: 50%;
  transform: scale(0.65);
  
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  margin-bottom: 5px;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


.StartDate{
  background: green;
}
.Checkpoint{
  background:rgb(255, 166, 0);
}
.EndDate{
  background:rgb(236, 57, 57);
}




.CalendarPage .No_Update_Hover_Info::before {
  content: 'No updates on this day - 20 goalds deducted';
  width: 150px;
  height: 50px;
  padding: 5px;
  top: 50%;
  right: 50%;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.CalendarPage .No_Update_Hover_Info:hover::before {
  /* display: block; */
  right: -200px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.CalendarPage .frequencydata{
  font-size: 14px;
}
.CalendarPage .Updated_Hover_Info::before {
  content: 'Updates available - credited 20 goalds';
  width: 150px;
  height: 50px;
  padding: 5px;
  bottom: 10%;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  color: #353535;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.CalendarPage .Updated_Hover_Info:hover::before {
  display: inherit;
  /* display: block; */
  bottom: 5%;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
